<template name="home">
	<div class="container">
		<form class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<h1>GrooveTime</h1>
			{{#if spotifySrc}}
			<iframe src="{{spotifySrc}}" width="300" height="380" frameborder="0" allowtransparency="true" style="display: block; margin: auto;"></iframe>
			{{/if}}
			<div class="radio">
				<label>
					<input type="radio" name="filterOption" id="artist" value="artist" checked>
					Filter by Artist
				</label>
			</div>
			<input id="artistName" type="text" placeholder="Artist Name" class="form-control">
			<div class="radio">
				<label>
					<input type="radio" name="filterOption" id="genre" value="genre">
					Filter by Genre
				</label>
			</div>
			<select id="genreSelect" class="form-control">
				{{#if genres}}
				{{#each genre in genres}}
				<option value="{{genre}}">{{genre}}</option>
				{{/each}}
				{{else}}
				<option value="loading">Loading genres...</option>
				{{/if}}
			</select>
			<!--<div class="checkbox disabled">
				<label>
					<input type="checkbox" value="allowExplicit" disabled>
					Allow explicit songs
				</label>
			</div>-->
			<p>
				Create a playlist with this length
				<div class="input-group">
					<input id="duration" type="text" class="form-control" placeholder="Minutes">
					<span class="input-group-addon">Minutes</span>
				</div>
			</p>
			<p><button type="submit" class="btn btn-block btn-spotify">Find some music</button></p>
		</form>
	</div>
</template>